

# Capstone Project by Abhay Kukreja Part 1

### Downloaded the data from the website link to a csv file called 2020_Toronto_PostalCodes.csv

In [2]:
# Import the pandas and numpy libraries
import pandas as pd
import numpy as py

In [3]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_a3d9d8db8c0f42ca8a1a0ef6caa2372f = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='4yhhV1FdbPYLIGzYQsYcBq_Q1Ok_1DjAxubKr22Wpwf8',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_a3d9d8db8c0f42ca8a1a0ef6caa2372f.get_object(Bucket='akdscapstoneproject-donotdelete-pr-6xwrdu88fnebzm',Key='2020_Toronto_PostalCodes - Sheet1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_TOR_PC= pd.read_csv(body)
df_TOR_PC.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
# remove not assigned rows from DF and reindex
df_TOR_PC = df_TOR_PC[df_TOR_PC.Borough != 'Not assigned']
df_TOR_PC.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [5]:
df_TOR_PC.shape

(104, 3)

In [6]:
# replace "/" with ","
#data["Age"]= data["Age"].replace(25.0, "Twenty five") 
df_TOR_PC["Neighborhood"]=df_TOR_PC["Neighborhood"].str.replace("/",",") 
                  
df_TOR_PC.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [18]:
# Idenityf if any Neoghborhood is blank or not assigned
df_TOR_PC[df_TOR_PC['Neighborhood'] == ''].index

Int64Index([], dtype='int64')

In [7]:
# Remove Nan and reindex
df_TOR_PC = df_TOR_PC.dropna()
df_TOR_PC.reset_index(drop=True, inplace=True)
df_TOR_PC.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [8]:
df_TOR_PC.shape

(103, 3)

In [9]:
df_TOR_PC['Postal code'].nunique()

103

#### End of part 1 of the assignment

### Start of part 2 of the assignment

In [ ]:
#import geocoder # import geocoder

# initialize your variable to None
#lat_lng_coords = None

# loop until you get the coordinates
#while(lat_lng_coords is None):
  #g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  #lat_lng_coords = g.latlng

#latitude = lat_lng_coords[0]
#longitude = lat_lng_coords[1]

In [10]:
# Add columns to df_TOR_PC data frame
#Make a copy of the df so that we do not worry abotu chnign the values of the original
df_TOR_LL=df_TOR_PC.copy()
df_TOR_LL.head(1)

  Postal code     Borough Neighborhood
0         M3A  North York    Parkwoods

In [16]:
# drop the columns Boroigh and Neighborhood 
# df.drop(['B', 'C'], axis=1)

df_TOR_LL.drop(['Borough','Neighborhood'],axis=1,inplace=True)
df_TOR_LL.head(1)

  Postal code
0         M3A

In [19]:
#Add Latitude and Longitude columns to the dataframe

df_TOR_LL ['Latitude']=""
df_TOR_LL ['Longitude']=""
df_TOR_LL.head(1)

  Postal code Latitude Longitude
0         M3A

In [20]:
df_TOR_LL.shape

(103, 3)

In [21]:

body = client_a3d9d8db8c0f42ca8a1a0ef6caa2372f.get_object(Bucket='akdscapstoneproject-donotdelete-pr-6xwrdu88fnebzm',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_TOR_GEO = pd.read_csv(body)
df_TOR_GEO.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
df_TOR_LL.drop(['Latitude','Longitude'],axis=1,inplace=True)
df_TOR_LL.head(1)

  Postal code
0         M3A

In [26]:
# make the column names the same for merging 
df_TOR_LL.rename(columns = {'Postal code':'Postal Code'}, inplace = True)
df_TOR_LL.head(1)

  Postal Code
0         M3A

In [27]:
# Merge the data frame matching on the Postal Code column
df_TOR_LL = pd.merge(df_TOR_LL,
                 df_TOR_GEO[['Postal Code', 'Latitude', 'Longitude']],
                 on='Postal Code')
df_TOR_LL.head()

  Postal Code   Latitude  Longitude
0         M3A  43.753259 -79.329656
1         M4A  43.725882 -79.315572
2         M5A  43.654260 -79.360636
3         M6A  43.718518 -79.464763
4         M7A  43.662301 -79.389494

In [29]:
df_TOR_LL.shape

(103, 3)

In [30]:
df_TOR_PC.head(1)

  Postal code     Borough Neighborhood
0         M3A  North York    Parkwoods

In [31]:
df_TOR_LL.head(1)

  Postal Code   Latitude  Longitude
0         M3A  43.753259 -79.329656

In [32]:
# make the column names the same for merging 
df_TOR_PC.rename(columns = {'Postal code':'Postal Code'}, inplace = True)
df_TOR_LL.head(1)

  Postal Code   Latitude  Longitude
0         M3A  43.753259 -79.329656

In [33]:
# Merge the data frame matching on the Postal Code column
df_TOR_PC = pd.merge(df_TOR_PC,
                 df_TOR_LL[['Postal Code', 'Latitude', 'Longitude']],
                 on='Postal Code')
df_TOR_PC.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494

In [34]:
df_TOR_PC.tail(5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo...",43.628841,-79.520999

In [35]:
df_TOR_PC.shape

(103, 5)

### End of part 2